/* Entire Document */
.container{
  display: inline-block;
  padding: 10px 10px 0 10px; 
}

input[type="radio"] {
  display: none;
}

button:focus {outline:0;}

body {
  background: #70060C; 
  color: white; 
  font-family: 'Bellefair', serif; 
  	text-align: center; 
}

button{
	border: none;
	  color: white;
	   font-family: 'Bellefair', serif; 
	      text-decoration: none;
}
#sessionButtons button{
 background: #FF0E1B; 

  
 
}
sessionButtons button:hover {
	background-color: #CC0B16
}

/* Button & its buttons */


#options button{
	background: #70060C;
	color: #FF0E1B; 
	float: right; 
}

#options button:hover{
	color: #CC0B16; 
}



.pomProgressTimer canvas {
	 max-width: 100%;
    max-height: 100%;
}

#pause, #reset, #play {
	background: #70060C;
	color: #FF0E1B; 
	margin: 0 auto; 
}

#pause:hover, #reset:hover, #play:hover{
	color: #CC0B16; 
}

#sessionButtons button{
	font-size: 16px; 
	padding: 5px 5% 5px 5%; 
}

/* Change Time Settings */


#changeTimeContainer{
	display: none; 
	float: right; 
}


label{
	 	 background: #FF7078;  
 }
 
 
label:hover{
		background: #FF0E1B; 
  }
  
input[type="radio"]:checked + label {
	width: 100%; 
	  background: #CC0B16; 
  } 